# .aliases
# vim:ft=sh:
# called by .bashrc and .profile

if [ -x /usr/local/bin/colorls ]; then
  alias ls='/usr/local/bin/colorls'
fi

alias ll='ls -AalFh'
alias l='~/dotfiles/l -AF'

movetrash() {
  if [ ! -d ~/.Trash ]; then
    mkdir ~/.Trash
  fi
  mv "$*" ~/.Trash;
}

path() {
  echo $PATH | tr ':' '\n'
}

manpath() {
  echo $MANPATH | tr ':' '\n'
}

dir() {
  {
    ll "$@" | egrep "^d" \
  &&
    ll "$@" | egrep -v "^d|^total" \
  &&
    ll "$@" | egrep "^total"
  } | $PAGER
}

clearcache() {
  if [ -d /tmp/cache ]; then
    /bin/rm -f /tmp/cache/{0,1,2,3}*.cache
    /bin/rm -f /tmp/cache/{4,5,6,7}*.cache
    /bin/rm -f /tmp/cache/{8,9,a,b}*.cache
    /bin/rm -f /tmp/cache/{c,d,e,f}*.cache
  elif [ -d /var/www/tmp/cache ]; then
    /bin/rm -f /var/www/tmp/cache/{0,1,2,3}*.cache
    /bin/rm -f /var/www/tmp/cache/{4,5,6,7}*.cache
    /bin/rm -f /var/www/tmp/cache/{8,9,a,b}*.cache
    /bin/rm -f /var/www/tmp/cache/{c,d,e,f}*.cache
  else
    echo "no cache directories exist"
  fi
}

clearmodps() {
  sudo /usr/sbin/apachectl stop
  sudo mv /var/cache/mod_pagespeed /var/cache/mod_pagespeed.old
  sleep 1
  sudo mkdir -p /var/cache/mod_pagespeed
  sudo chown apache:apache /var/cache/mod_pagespeed
  sudo /usr/sbin/apachectl start
  sudo /bin/rm -rf /var/cache/mod_pagespeed.old
}

sssh() {
  (export AUTOSSH_PORT=0 && autossh "$@" -t 'tmux -2 attach || tmux -2 new')
}

mountpub() {
  sudo mount -t cifs -o username=ARI/darceneaux,rw,file_mode=0666,dir_mode=0777 \\\\10.10.10.12\\Public /mnt/Public
}

mountfr() {
  sudo mount -t cifs -o username=ARI/darceneaux,rw,file_mode=0666,dir_mode=0777 \\\\10.10.10.12\\Fundraising /mnt/Fundraising
}

# delete grep cache, not sure how to generalize it
dgc() {
  rm -rf $(grep -l '<!-- http://aynrandlexicon.com/lexicon/quote_of_the_day.html' /var/www/libraries/cache/*.cache)
  curl -I -s http://aynrandlexicon.com/lexicon/quote_of_the_day.html > /dev/null
}

tarlm() {
  if [ ! -f $1.access.$2.tgz ]; then
    sudo tar -zvcf $1.access.$2.tgz $1.access.$2*.log && sudo rm $1.access.$2*.log
  fi
  if [ ! -f $1.error.$2.tgz ]; then
    sudo tar -zvcf $1.error.$2.tgz $1.error.$2*.log && sudo rm $1.error.$2*.log
  fi
}

hgdiff() {
#  vimdiff -c 'map q :qa!<CR>' < (hg cat "$1") "$1"
  vimdiff -c 'map q :qa!<CR>' < hg cat "$1" "$1"
}

playtime() {
  if [ -x /usr/local/bin/soxi ]; then
    soxi -d $@ 2>&1
  else
    echo "soxi is not installed"
  fi
}

alias rm='movetrash'
alias key='man -k'
alias info='info --vi-keys'
alias cycapache='/usr/bin/sudo /usr/bin/pkill -SIGQUIT -U www; /bin/sleep 2; /usr/bin/sudo /usr/sbin/apachectl start'
alias forethought='ssh ari@216.241.32.130'

