[user]
  name = David Arceneaux
  email = darceneaux@aynrand.org
[color]
  ui = true
[diff]
  external = ~/dotfiles/git_diff_wrapper
  tool = vimdiff
[pager]
  diff =
[core]
[core]
  editor = ~/contrib/giteditor/giteditor.sh
  excludesfile = ~/dotfiles/.gitignore_global
[push]
  default = matching
[alias]
  lol = log --graph --decorate --oneline --all
  ci = commit
  co = checkout
  st = status
  afetch = fetch --all --prune
  br = branch
  diffall = ~/contrib/git-diffall/git-diffall
  d = difftool
[difftool]
  prompt = false
