[user]
  name = David Arceneaux
  email = david@davidthemachine.org
[color]
  ui = true
[core]
  excludesfile = ~/dotfiles/.gitignore_global
[diff]
  external = "~/dotfiles/helpers/diff"
[difftool]
  tool = vimdiff
  prompt = false
[format]
  pretty = oneline
[merge]
  tool = vimdiff
[pager]
  diff =
[pull]
  ff = only
[push]
  default = current
  ff = only
[alias]
  afetch = fetch --all --prune
  br = branch
  branchdiff = !sh -c \"git diff `git oldest-ancestor`..\"
  branchdifftool = !sh -c \"git difftool `git oldest-ancestor`..\"
  branchlog = !sh -c \"git log `git oldest-ancestor`..\"
  ci = commit
  co = checkout
  d = difftool
  diffall = difftool --dir-diff
  diffr = "!f() { git diff "%1"^.."$1"; }; f"
  dl = "!git ll -1"
  dlc = diff --cached HEAD^
  dr = "!f() { git diff "$1"^.."$1"; }; f"
  filelog = log -u
  fl = log -u
  gr = grep -Ii
  gra = "!f() { A=$(pwd) && TOPLEVEL=$(git rev-parse --show-toplevel) && cd $TOPLEVEL && git grep --full-name -In $1 | xargs -I{} echo $TOPLEVEL/{} && cd $A; }; f"
  grep = grep -Ii
  integrate = "!~/dotfiles/helpers/git-integrate"
  la = "!git config -l | grep alias | cut -c 7-"
  lasttag = describe --tags --abbrev=0
  lc = "!f() { git ll "$1"^.."$1"; }; f"
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
  lol = log --graph --decorate --oneline --all
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  lt = describe --tags --abbrev=0
  mdiff = "!~/dotfiles/helpers/git-mdiff"
  merge-dry-run = "!f() { git merge --no-commit --no-ff $@; git merge --abort; }; f"
  merge-to = "!gitmergeto() { export tmp_branch=`git branch | grep '* ' | tr -d '* '` && git checkout $1 && git merge $tmp_branch && git checkout $tmp_branch; unset tmp_branch; }; gitmergeto"
  oldest-ancestor = !zsh -c 'diff --old-line-format= --new-line-format= <(git rev-list --first-parent \"${1:-master}\") <(git rev-list --first-parent \"${2:-HEAD}\") | head -1' -
  ours = "!f() { git co --ours $@ && git add $@; }; f"
  ship = "!~/dotfiles/helpers/git-ship"
  st = status
  theirs = "!f() { git co --theirs $@ && git add $@; }; f"
  up = "!git remote update -p; git merge --ff-only @{u}"
  workprofile = "config user.email 'david@zeek.com'"
