symlinks/.pandoc/buttondown.css
symlinks/.pandoc/buttondown.css.map
symlinks/.ssh/authorized_keys
symlinks/.ssh/known_hosts
symlinks/.ssh/id_rsa*
symlinks/.ssh/id_ed25519*
symlinks/.ssh/vagrant_*
symlinks/.ssh/*.pem
symlinks/.ssh/sockets/
xdg/composer/.htaccess
xdg/composer/auth.json
xdg/composer/keys.dev.pub
xdg/composer/keys.tags.pub
xdg/composer/vendor/
xdg/fish/fishd.*
xdg/git/gitk
xdg/nvim/autoload/plug.vim
xdg/nvim/autoload/plug.vim.old
xdg/nvim/*.tags
xdg/nvim/.netrwhist
xdg/nvim/plugged/
node_modules/
